﻿@model PagedList.IPagedList<snoop.Models.Jugador>
@using PagedList.Mvc;
@{
    ViewBag.Title = "JugadoresList";
}

<h2>Lista de Jugadores</h2>

@using (Html.BeginForm("JugadoresList", "Home", FormMethod.Get, new { id = "form" }))

{
<div id='Paging' style="text-align: center">
    Page Size: @Html.DropDownList("PageSize")
    <br> <br />
</div>
}
<div class="table-responsive">
    <table class="table table-striped table-bordered">
        <tr>
            <th>
                @Html.Label("Nombre")
            </th>
            <th>
                @Html.Label("FechaNac")
            </th>
            <th>
                @Html.Label("Cotización")
            </th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Nombre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FechaNac)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Cotizacion)
                </td>
            </tr>
        }

    </table>
</div>
    <div id='Pagination' style="text-align: center">
        Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber)
        of @Model.PageCount

        @Html.PagedListPager(Model, Page => Url.Action("JugadoresList", new { Page, PageSize = ViewBag.psize }))
    </div>

    <script src="https://code.jquery.com/jquery-3.1.0.min.js"></script>
    <script type="text/javascript">

        $("#PageSize").change(function () {

            $("#form").submit();
        });

    </script>
